# creds must match with the ones in CD/config.toml
POSTGRES_DB=webcalc
POSTGRES_USER=webcalc
POSTGRES_PASSWORD=

HTTP_PORT=80

# in case u do it on ur own with own image, paste here
WEBCALC_IMAGE=webcalc:local
